/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* # UTILS */
  
  .container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
  }


  /* # HEADER */

  .img{
    height: 60px;
    width: 60px;
  }

  .date{
    display: none;
  }

  .card>p{
    margin: 0;
  }

  .button{
    width: 100%;
  }

  .button>p{
    text-align: start;
    margin: 0;
    font-size: 18px;
  }

  .btn-light{
    background-color: white;
    border: 0;
  }

  @media screen and (min-width: 768px) {
    .date{
      display: table-cell;
    }
  }